* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  background-image: url(background.jpg);
  /* background-repeat: no-repeat; */
}
.container {
  width: 100%;
  display: flex;
  max-width: 850px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.login {
  width: 400px;
}
form {
  width: 250px;
  margin: 60px auto;
}
h1 {
  margin: 20px;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
hr {
  border-top: 2px solid black;
}
p {
  margin: 20px;
  text-align: center;
}
.image img {
  width: 200px;
  height: 200px;
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  /* background-position: center; */
  margin: 100px;
}
form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}
input {
  border: none;
  outline: none;
  margin: 2px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
}
button {
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  background-color: lightblue;
}
button:hover {
  background-color: lightskyblue;
}
